<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.BATTERY_STATS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication" >
        <activity
            android:name=".JsonPassingActivity"
            android:exported="false" />
        <activity
            android:name=".TestActivity"
            android:exported="false" />
        <activity
            android:name=".DemoProject.HomeScreenActivity"
            android:exported="false" />
        <activity
            android:name=".DemoProject.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".DemoProject.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".DemoProject.MainRoomDatabaseActivity"
            android:exported="false" />
        <activity
            android:name=".MultithreadingTask.MultithreadingFourthTask"
            android:exported="false" />
        <activity
            android:name=".MultithreadingTask.MultithreadingThirdTask"
            android:exported="false" />
        <activity
            android:name=".MultithreadingTask.MultithreadingSecondTask"
            android:exported="false" />
        <activity
            android:name=".MultithreadingTask.MultithreadingTask"
            android:exported="false" />
        <activity
            android:name=".MultithreadingTask.MultithreadingFirstTask"
            android:exported="false" />
        <activity
            android:name=".Layout.ActivityLayout"
            android:exported="false" />
        <activity
            android:name=".Layout.ActivityView"
            android:exported="false" />
        <activity
            android:name=".CustomButton.CustomButton"
            android:exported="false" />
        <activity
            android:name=".ShapesDrawable"
            android:exported="false" />
        <activity
            android:name=".Tab_layout"
            android:exported="false" />
        <activity
            android:name=".RecycleView.RecyclerView"
            android:exported="false" />
        <activity
            android:name=".FloatingButtonActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityRuntimePermission"
            android:exported="false" />
        <activity
            android:name=".Fragment.ActivityFragment"
            android:exported="true" />
        <activity
            android:name=".Dialog.DialogDateTime"
            android:exported="false" />
        <activity
            android:name=".Dialog.DialogBoxActivity"
            android:exported="false" />
        <activity
            android:name=".Notification.ActivityNotification"
            android:exported="false" />
        <activity
            android:name=".Layout.SetLayout"
            android:exported="false" />
        <activity
            android:name=".Layout.LayoutConstraint"
            android:exported="false" />
        <activity
            android:name=".Layout.LayoutFrame"
            android:exported="false" />
        <activity
            android:name=".Layout.LayoutLinear"
            android:exported="false" />
        <activity
            android:name=".Layout.LayoutRelative"
            android:exported="false" />
        <activity
            android:name=".MainScreen.ActivityAllProject2"
            android:exported="false" />
        <activity
            android:name=".IntentFilterActivity"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BroadcastReceiver.BroadcastReceiverTask"
            android:exported="false" />
        <activity
            android:name=".BroadcastReceiver.BroadcastReceiverActivity"
            android:exported="false" />
        <activity
            android:name=".BroadcastReceiver.BroadcastReceiverCustomActivity"
            android:exported="false" />

        <receiver
            android:name=".BroadcastReceiver.MyBroadcastReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver" />

        <activity
            android:name=".workmanager.WorkManagerActivity"
            android:exported="false" />
        <activity
            android:name=".workmanager.FileDownloadWorker"
            android:exported="false" />
        <activity
            android:name=".SaveFileActivity"
            android:exported="false" />
        <activity
            android:name=".AnimationsActivity"
            android:exported="false" />
        <activity
            android:name=".MainScreen.ActivityAllProject"
            android:exported="true"
            android:hardwareAccelerated="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>